body {
  max-width: 720px;
  margin:auto;
}
.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #000000;
  text-align: center;
  color: white;
  font-family: "Avenir-Medium", sans-serif;
}
